
<mat-card class="example-card">
  <h1>Dashboard</h1>

  <!-- <div class="top-cards">
 
    <ng-container *ngFor="let dashItem of cardsData">
      <div class="top-cards">
        <app-dashboard-cards
        [messages]="dashItem.messages" 
         [headerIcon]="dashItem.headerIcon"
         [headerColor]="dashItem.headerColor"
         >
       </app-dashboard-cards>
      </div>
      
    </ng-container>

</div> -->
<div class="top-cards">
  <mat-card class="card">
    <mat-card-title>
  
    </mat-card-title>
    <mat-card-header>
  
    </mat-card-header>
    <mat-card-content>
  
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>
  
    </mat-card-title>
    <mat-card-header>
  
    </mat-card-header>
    <mat-card-content>
  
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  
  <mat-card class="card">
    <mat-card-title>
  
    </mat-card-title>
    <mat-card-header>
  
    </mat-card-header>
    <mat-card-content>
  
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  
  
</div>



</mat-card> 

