.example-card {
    width: calc(100vw - 310px);
    height: 100%;
    margin-top: 280px;
  /* margin-left: 15%;
  top: 40px; */
  /* margin-top: 4%; */
  /* margin-bottom: 2%; */
  }
.title{
    margin-top: 90px;
  
}