<mat-toolbar mat-dialog-title style="background-color:peru;">  
    Reset Password 
   </mat-toolbar> 
 
   
 <mat-dialog-content >
     <ng-container>
         <form [formGroup]="resetForm" >
 
             <mat-form-field class="email-full-width">
                 <mat-label>Current Password</mat-label>
                 <input type="text" id="current_pass"  name="current_pass" matInput placeholder="Ex. John Doe" formControlName="current_pass" required>
             </mat-form-field>
 
             <br>
             <mat-form-field class="email-full-width">
                 <mat-label>New Password</mat-label>
                 <input type="text" id="new_pass"  name="new_pass" matInput placeholder="Ex. John Doe" formControlName="new_pass" required>
             </mat-form-field>
             <br>
             <mat-form-field class="email-full-width">
                 <mat-label>Confirm Password</mat-label>
                 <input type="text" id="confirm_pass"  name="confirm_pass" matInput placeholder="Ex. John Doe" formControlName="confirm_password" required>
             </mat-form-field>
         </form>
         </ng-container>
         </mat-dialog-content>
 
         <div class="dialog-actions">
             <mat-dialog-actions >  
               <button  mat-raised-button color="warn"  (click)="close()">Close</button>  &nbsp;&nbsp;
               <button   mat-raised-button color="primary"  >Reset</button> 
           </mat-dialog-actions>