

.stud-info{
    font-weight: 450;
    font-size: 20px;
}
.stud-info>span{
    margin-left: 10px;

   
}

.table-div{
    margin-left: 10px;
    width: 90%;
}
.rtable{
    margin-bottom: 10px;
    box-sizing: border-box;
    border-collapse: collapse;
    /* float: right; */
    width: 100%;
    padding: 5px;  
    counter-reset: rowNumber;
    font-size: medium;
    height: 200px;
}

table tr:not(:first-child){
    counter-increment: rowNumber;
}

table tr td:first-child::before{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

td,tr,th{
    border: 1px solid #dddddd;
    padding: 5px;  
    text-align: left;

}

tr > td:nth-child(even){
    text-align: left;
    font-weight: bolder;
}
 
tr > td:nth-child(odd){
    text-align: left;
    max-width: 300px;
    width: 250px;
}

.print-button{
    float: right;
    margin-right: 100px;
}