<mat-toolbar mat-dialog-title *ngIf="addOnlyForm" style="background-color:peru;">  
    Add Course-Module   
</mat-toolbar> 

<mat-toolbar mat-dialog-title *ngIf="!addOnlyForm" style="background-color:peru;">  
  Update Course-Module  
</mat-toolbar>

<mat-dialog-content>
<ng-container>
       
    <form [formGroup]="moduleForm" >
      <div >
 
        <mat-form-field class="email-full-width">
          <mat-label>Module Name</mat-label>
          <input type="module_name" id="module_name"  name="module_name" matInput placeholder="Ex. DBC" formControlName="module_name" required>
      </mat-form-field>
      </div>
   
      <div>
      <mat-form-field class="email-full-width">
        <mat-label>Module Code</mat-label>
        <input type="module_code" id="module_code"  name="module_code" matInput placeholder="Ex. ice@example.com" formControlName="module_code" required>
    </mat-form-field>
  </div>
  <div >
 
    <mat-form-field class="email-full-width">
      <mat-label>Course Name</mat-label>
      <input type="course_name" id="course_name"  name="course_name" matInput placeholder="Ex. DBC" formControlName="course_name" required>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field  class="email-full-width">
      <mat-label>Select Instructor </mat-label>
      <mat-select formControlName="lecturer">
        <mat-option *ngFor="let lecturer of courseInstructors" [value]="lecturer.name">
          {{lecturer.name}}
        </mat-option>
      </mat-select>
      <!-- <mat-error>
        {{errors.course_name}}
      </mat-error> -->
    </mat-form-field>
</div>

    </form>
    <div>

    </div>
  

  </ng-container>
</mat-dialog-content>
<div class="dialog-actions">
  <mat-dialog-actions >  
    <button  mat-raised-button 
    color="warn"  (click)="close()">Close</button>  &nbsp;&nbsp;
    <button  *ngIf="addOnlyForm" mat-raised-button
    color="primary"  >Add</button>  
    <button  *ngIf="!addOnlyForm"  mat-raised-button
    color="primary"  >Update</button>  
</mat-dialog-actions>
</div>

  
  