.form-card{
    width: 35vw;
    margin-top: 15vh;
    margin-left: 32vw;
}

.email-full-width {
    width: 100%;
  }
  
  .home{
    overflow: hidden;
    background-color: #f2f2f2;
    height: 100%;
  }