<mat-toolbar mat-dialog-title *ngIf="addOnlyForm" style="background-color:peru;">  
  Add Staff   
</mat-toolbar> 

<mat-toolbar mat-dialog-title *ngIf="updateOnlyForm" style="background-color:peru;">  
Update Staff Details  
</mat-toolbar>
<mat-toolbar mat-dialog-title *ngIf="addCourseForm" style="background-color:peru;">  
  Add  Course Lecturer
   </mat-toolbar>

<mat-dialog-content  *ngIf="!addCourseForm">
<ng-container>
       
    <form [formGroup]="lecturerForm" >
      <div >
 
        <mat-form-field class="email-full-width">
          <mat-label>Full Name</mat-label>
          <input type="full_name" id="full_name"  name="full_name" matInput placeholder="Ex. John Doe" formControlName="full_name" required>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="email-full-width">
        <mat-label>Email</mat-label>
        <input type="email" id="email" name="email" matInput placeholder="Ex. ice@example.com" formControlName="email" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="email-full-width">
      <mat-label>Contact</mat-label>
      <input type="contact" id="contact" name="contact" matInput placeholder="Ex. ice@example.com" formControlName="contact" required>
  </mat-form-field>
</div>
  <div>
    <mat-form-field class="email-full-width">
      <mat-label>User Type</mat-label>
      <input type="usertype" id="usertype"  name="usertype" matInput placeholder="USertype" formControlName="usertype" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="email-full-width">
    <mat-label>Staff Id</mat-label>
    <input type="staff_id" id="staff_id" name="staff_id" matInput placeholder="Ex. 12er33i" formControlName="staff_id" required>
</mat-form-field>
</div>
<div>
<mat-form-field class="email-full-width">
  <mat-label>Course</mat-label>
  <input type="course_id" id="course_id"  name="course_id" matInput placeholder="Ex. course" formControlName="course_id" required>
</mat-form-field>
</div>
<div>
<mat-form-field class="email-full-width">
  <mat-label>Password</mat-label>
  <input type="password" id="password"  name="password" matInput placeholder="Password" formControlName="password" required>
</mat-form-field>
</div>
<div>
      
     
  
      </div>
    </form>
  
 
  </ng-container>
</mat-dialog-content>

<div *ngIf="addCourseForm">
  <mat-dialog-content>
    <ng-container>
  <form [formGroup]="courseForm">
    <mat-form-field>
      <mat-label>Select Course </mat-label>
      <mat-select formControlName="course" required>
        <mat-option *ngFor="let classroom of classroom" [value]="classroom.name">
          {{classroom.name}}
        </mat-option>
      </mat-select>
     
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select Course Module </mat-label>
      <mat-select formControlName="module" required>
        <mat-option *ngFor="let classroom of classroom" [value]="classroom.name">
          {{classroom.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  </ng-container>
  </mat-dialog-content>
  

</div>
<div class="dialog-actions">
  <mat-dialog-actions >  
    <button  mat-raised-button color="warn"  (click)="close()">Close</button>  &nbsp;&nbsp;
    <button  *ngIf="addOnlyForm" mat-raised-button color="primary" (click)="onAdd()"  >Add</button>  
    <button  *ngIf="updateOnlyForm"  mat-raised-button color="primary"  >Update</button>  
    <button  *ngIf="addCourseForm"  mat-raised-button color="primary"  >Add Lecturer</button> 
</mat-dialog-actions>
</div>


  
  