<div class="main">
  <div class="login-block">
    <div class="left-side">
      <img src="assets/aiti-kace.jpg" class="bg-image" />
    </div>
    <div class="right-side">
      <div class="container">
        <img src="assets/aiti-logo.png" class="image" />
        <h1 style="text-align: center; font-weight: bold">Login</h1>

        <form [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input
              type="email"
              id="email"
              name="email"
              matInput
              placeholder="Ex. ice@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>
          <br />



          <div
            fxLayout="column"
            fxLayoutGap="100px"
            fxLayout.lt-md="column"
            style="margin-top: 50px"
          >
            <div>
              <button
                class="full-width"
                mat-raised-button
                color="primary"
                [disabled]="loginForm.invalid"
                (click)="emailverification()"
              >
                Login
              </button>
            </div>
          </div>

          <div style="margin-top: 10px; text-align: center">
            <p>Forgot Password</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
