mat-card{
    height: 100%;
  width: 45%;
    margin-left: 28vw;
    margin-top: 20vh;
}
.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .email-full-width {
    width: 100%;
  }
  
  .password-full-width {
    width: 100%;
  }
  